
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #045592;
    padding-right: 2rem;
    height: 8rem;
    width: inherit;
}

.logo{
    padding-left: 70px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    padding: 0.3rem;
    text-decoration: none;
    font-size: 18px;
    font-family: 'roboto condensed';
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
}


/*
header nav {
    float: right;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    padding: 0 10px;
    color: #FFFFFF;
    text-decoration: none solid rgb(255, 255, 255);
    
    letter-spacing: -0.5px;
    
    height: 80px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 100;
    word-spacing: 0px;
}



ul {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color:#045592;
    padding: 0em 2em;
}

.logo {
    font: 1.9em 'Sansita Swashed', cursive;
    color: #F28C26;
}

*/

.btn-menu {
    background-color: transparent;
    float: right;
    line-height: 55px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 12px;
    display: none;
    border-radius: 55px;
    width: 55px;
    height: 55px;
    text-align: center;
}

.btn-menu:hover {
    transition: 1.5s;
    color: red;
}

header nav ul li a:hover {
    transition: 1.2s;
    color:  #6EA0C8;
}

